@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
  <h3>
      &nbsp;&nbsp;&nbsp;
      <br />
      <br />
       @Html.ActionLink("Add Product","/AddProduct")
      <br />
       @Html.ActionLink("Update Product","/UpdateProduct")
      <br />
       @Html.ActionLink("Remove Product","/RemoveProduct")
      <br />
       @Html.ActionLink("View All Products","/ShowProducts")
      <br />
    </h3>

 