<div>
    <h2>Developer:<b> Yasir Ali Pasha </b></h2>
    <br />
  <h2> E-Mail: <a href="https://mail.google.com/mail/">bsef11m042@pucit.edu.pk</a></h2>
    <br />
    <img src="~\Images\20131206-0001.jpeg" />
</div>
