
    




<div class="row">
    <div class="span4">
     <ul class="nav nav-list">
    <li class="nav-header">What we are?</li>
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Our Clients</a></li>
    <li><a href="#">Our Services</a></li>
    <li><a href="Home\About">About Us</a></li>
    <li><a href="Home\about">Contact Us</a></li>
    <li class="nav-header">Our Parteners</li>
    <li><a href="https://sony.com/">Sony</a></li>
    <li><a href="https://samsung.com/">Samsung</a></li>
    <li><a href="https://pell.com/">Pell</a></li>
    <li><a href="https://toshiba.com/">Toshiba</a></li>
    <li><a href="https://haier.com/">Haier</a></li>
    <li><a href="https://dawlance.com/">Dawlance</a></li>
    <li><a href="https://kenwood.com/">kenwood</a></li>
    <li><a href="https://national.com/">National</a></li>
    <li><a href="https://orient.com/">Orient</a></li>
</ul>
         </div>

         
<div class="span8" >
     <h3>*** LogIn T0 Get facilitate by Our offers *** </h3>
    <div id="accordion">
   
<h3><b><i> As Admin </i></b></h3>
<div>
<form class="navbar-form navbar-left" method="post" action="Admin\VerifyAdmin">
  <div class="form-group">
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" name="AdminUn" class="form-control" placeholder="UserName">
      <br />
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="password" name="AdminPass" class="form-control" placeholder="Password">
     
       
  </div>
    
    <br />
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="submit" id ="adminlogin" class="btn btn-success">logIn</button>
   <button type="reset" class="btn btn-danger">Clear</button>
 

   </form>

</div>
<h3><b><i> As Consumer</i></b> </h3>
<div>
<form class="navbar-form navbar-left" method="post" action="Member\VerifyMember">
  <div class="form-group">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" name="MemberUn" class="form-control" placeholder="UserName">
      <br />
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <input type="password" name="MemberPass" class="form-control" placeholder="Password">
      <input type="hidden" name="MemberError" class="form-control" value="Invalid UserName or Passowrd">
  </div>
    
    <br />
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="submit" id ="memberlogin" class="btn btn-success">logIn</button>
   <button type="reset" class="btn btn-danger">Clear</button>
    <br />
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br />
    <a href="#">forgot your password....???</a>
</form>
<br /><br />
</div>

</div>
    </div>
    </div>
    <hr />