

<div class="row">
     <div class="span4">
         <!-- Start cssmenu section -->
<ul id="css3menu1" class="topmenu">
	<li class="topfirst"><a class="pressed" href="Home\SearchProduct" style="width:109px;">Catagories</a></li>
	<li class="topmenu"><a href="Home\SearchProduct" style="width:109px;"><span><img src="~/Images/1.png" alt=""/>Haier</span></a>
	<ul>
		<li><a href="Home\SearchProduct"><span>Refrigerator</span></a>
		<ul>
			<li><a href="Home\SearchProduct">Classic Series</a></li>
			<li><a href="Home\SearchProduct">Combi Series</a></li>
			<li><a href="Home\SearchProduct">Mini Cool Series && Single Door</a></li>
			<li><a href="Home\SearchProduct">No frost</a></li>
			<li><a href="Home\SearchProduct">Side-by-Side</a></li>
			<li><a href="Home\SearchProduct">Super Star Series</a></li>
		</ul></li>
		<li><a href="Home\SearchProduct"><span>Air Conditioner</span></a>
		<ul>
			<li><a href="Home\SearchProduct">12000 BTU Series</a></li>
			<li><a href="Home\SearchProduct">18000 BTU Series</a></li>
			<li><a href="Home\SearchProduct">24000 BTU Series</a></li>
		</ul></li>
		<li><a href="Home\SearchProduct"><span>LCD &amp;&amp; LED</span></a>
		<ul>
			<li><a href="Home\SearchProduct">LED</a></li>
			<li><a href="Home\SearchProduct">LCD</a></li>
		</ul></li>
		<li><a href="Home\SearchProduct"><span>Washin Machine</span></a>
		<ul>
			<li><a href="Home\SearchProduct">Fully Automatic</a></li>
			<li><a href="Home\SearchProduct">Washer &amp;&amp; Drier</a></li>
		</ul></li>
		<li><a href="Home\SearchProduct"><span>Small Home Appliances</span></a>
		<ul>
			<li><a href="Home\SearchProduct">DVD</a></li>
			<li><a href="Home\SearchProduct">Iron</a></li>
			<li><a href="Home\SearchProduct">Jug kettle</a></li>
			<li><a href="Home\SearchProduct">Toaster Maker</a></li>
			<li><a href="Home\SearchProduct">Sandwich maker</a></li>
			<li><a href="Home\SearchProduct">Vacume Cleaner</a></li>
			<li><a href="Home\SearchProduct">Blenders</a></li>
		</ul></li>
		<li><a href="Home\SearchProduct"><span>Microwave</span></a>
		<ul>
			<li><a href="Home\SearchProduct">20 Liter</a></li>
			<li><a href="Home\SearchProduct">23 Liter</a></li>
			<li><a href="Home\SearchProduct">25 &amp;&amp; 26 Liter</a></li>
			<li><a href="Home\SearchProduct">28 Liter</a></li>
			<li><a href="Home\SearchProduct">30 Liter</a></li>
			<li><a href="Home\SearchProduct">32 Liter</a></li>
			<li><a href="Home\SearchProduct">36 Liter</a></li>
			<li><a href="Home\SearchProduct">38 &amp;&amp; 40 Liter</a></li>
		</ul></li>
	</ul></li>
	<li class="topmenu"><a href="#" style="width:109px;"><span><img src="~/Images/1.png" alt=""/>Boss</span></a>
	<ul>
		<li><a href="Home\SearchProduct">Iron</a></li>
		<li><a href="Home\SearchProduct">Electric Water Heater</a></li>
		<li><a href="Home\SearchProduct">Gas Heater</a></li>
		<li><a href="Home\SearchProduct"><span>Kitchen Appliances</span></a>
		<ul>
			<li><a href="Home\SearchProduct">Blenders</a></li>
			<li><a href="Home\SearchProduct">Cofee Maker</a></li>
			<li><a href="Home\SearchProduct">egg Boiler</a></li>
			<li><a href="Home\SearchProduct">Hand Mixer</a></li>
			<li><a href="Home\SearchProduct">Juicer</a></li>
			<li><a href="Home\SearchProduct">Toaster</a></li>
			<li><a href="Home\SearchProduct">Meat Grinder</a></li>
		</ul></li>
	</ul></li>
	<li class="topmenu"><a href="Home\SearchProduct" style="width:109px;"><span><img src="~/Images/1.png" alt=""/>Samsung</span></a>
	<ul>
		<li><a href="Home\SearchProduct">Air Conditioner</a></li>
		<li><a href="Home\SearchProduct">Home Theater</a></li>
		<li><a href="Home\SearchProduct">Mobile</a></li>
		<li><a href="Home\SearchProduct">T.V</a></li>
		<li><a href="Home\SearchProduct">LCD &amp;&amp; LED</a></li>
		<li><a href="Home\SearchProduct">Rerigerator</a></li>
		<li><a href="Home\SearchProduct">Washing Machine</a></li>
	</ul></li>
	<li class="topmenu"><a href="Home\SearchProduct" style="width:109px;"><span><img src="~/Images/1.png" alt=""/>Sony</span></a>
	<ul>
		<li><a href="Home\SearchProduct">Camera</a></li>
		<li><a href="Home\SearchProduct">LCD</a></li>
		<li><a href="Home\SearchProduct">DVD</a></li>
	</ul></li>
	<li class="topmenu"><a href="Home\SearchProduct" style="width:109px;"><span><img src="~/Images/1.png" alt=""/>Orient</span></a>
	<ul>
		<li><a href="Home\SearchProduct">Air Conditioner</a></li>
		<li><a href="Home\SearchProduct">Refrigerator</a></li>
		<li><a href="Home\SearchProduct">Water Dispencer</a></li>
	</ul></li>
	<li class="topmenu"><a href="Home\SearchProduct" style="width:109px;"><span><img src="~/Images/1.png" alt=""/>LG</span></a>
	<ul>
		<li><a href="Home\SearchProduct">Mobile</a></li>
		<li><a href="Home\SearchProduct">Split Unit</a></li>
		<li><a href="Home\SearchProduct">MicroWave</a></li>
		<li><a href="Home\SearchProduct">Vacume Cleaner</a></li>
	</ul></li>
	<li class="topmenu"><a href="Home\SearchProduct" style="width:109px;"><span><img src="~/Images/1.png" alt=""/>Panasonic</span></a>
	<ul>
		<li><a href="Home\SearchProduct">LCD</a></li>
	</ul></li>
	<li class="topmenu"><a href="Home\SearchProduct" style="width:109px;"><span><img src="~/Images/1.png" alt=""/>Super Asia</span></a>
	<ul>
		<li><a href="Home\SearchProduct"><span>Fans</span></a>
		<ul>
			<li><a href="Home\SearchProduct">Bracket Fans</a></li>
			<li><a href="Home\SearchProduct">Padestal Fans</a></li>
			<li><a href="Home\SearchProduct">Exhaust fans</a></li>
			<li><a href="Home\SearchProduct">Ceiling Fans</a></li>
		</ul></li>
		<li><a href="Home\SearchProduct">Room Air Cooler</a></li>
		<li><a href="Home\SearchProduct">Water Heater</a></li>
		<li><a href="Home\SearchProduct">Washing Machine</a></li>
		<li><a href="Home\SearchProduct">Gas Hobs</a></li>
		<li><a href="Home\SearchProduct">Water Dispencer</a></li>
	</ul></li>
	<li class="topmenu"><a href="Home\SearchProduct" style="width:109px;"><span><img src="~/Images/1.png" alt=""/>Dawlance</span></a>
	<ul>
		<li><a href="Home\SearchProduct">Air Conditioner</a></li>
		<li><a href="Home\SearchProduct"><span>MicroWave</span></a>
		<ul>
			<li><a href="Home\SearchProduct">Classic Series</a></li>
			<li><a href="Home\SearchProduct">Cook King Series</a></li>
		</ul></li>
		<li><a href="Home\SearchProduct">Washing Machine</a></li>
		<li><a href="Home\SearchProduct">Refrigerator &amp;&amp; Deep Freezer</a></li>
	</ul></li>
	<li class="topmenu"><a href="Home\SearchProduct" style="width:109px;"><img src="~/Images/1.png" alt=""/>Pell</a></li>
	<li class="topmenu"><a href="Home\SearchProduct" style="width:109px;"><span><img src="~/Images/1.png" alt=""/>Kenwood</span></a>
	<ul>
		<li><a href="Home\SearchProduct">Refrigerator</a></li>
		<li><a href="Home\SearchProduct"><span>Kitchen Appliances</span></a>
		<ul>
			<li><a href="Home\SearchProduct">SandWich Maker</a></li>
			<li><a href="Home\SearchProduct">Slice Toaster</a></li>
			<li><a href="Home\SearchProduct">Hand Blender</a></li>
		</ul></li>
		<li><a href="Home\SearchProduct">Washing Machine</a></li>
	</ul></li>
	<li class="topmenu"><a href="Home\SearchProduct" style="width:109px;"><img src="~/Images/1.png" alt=""/>Dell</a></li>
	<li class="topmenu"><a href="Home\SearchProduct" style="width:109px;"><img src="~/Images/1.png" alt=""/>Canon</a></li>
	<li class="toplast"><a href="Home\SearchProduct" style="width:109px;"><img src="~/Images/1.png" alt=""/>Indus</a></li>
</ul>
<!-- End cssmenu section -->

</div>
    <form method="post" action="Home\SearchProduct">
    <div id="update" class="span8">
        <h1>*** Please select Your Ddsired Product From Left Menu ***</h1>
        <br />
        
        <h4>*** Quick search ***</h4><h5>( Find The Best Market Have In Your Poket Range )</h5>
        <br />
        Enter Your Machine You Want::
         <input type="text" id ="key" class="search-query" placeholder="Key Word">
        <br /><br />
        Your Pocket Range:
        <input type="text" id="pricefrom" placeholder="From">
        <input type="text" id="priceto" placeholder="To">
        <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" id="search" class="btn btn-Info">Search</button>
    </div>
        </form>
    <script>

        $(document).ready(function () {


            $("#search").click(function () {

                var key = $("#key").val();
                var pricefrom = $("#pricefrom").val();
                var priceto = $("#priceto").val();

                
                // Array of parameters

                //alert('User Name ='+ userName);

                $.getJSON("/Home/GetProduct?key=" + key + " & pricefrom=" + pricefrom + " & priceto=" + priceto , function (data) {


                    // Proccess 0n <div id="Update">

                });

            });

        });
    </script>
</div>
    